# CI280 Lab02 â€“ List
Upload your answer to GitHub

Email the link to: jzhang@eastwest.edu

Name: _________________

# A. Show the output: ( 10 pts)

In [1]:
numbers = [50, 20, 10, 80, 10]
print(numbers)
print(numbers[2])

[50, 20, 10, 80, 10]
10

In [2]:
max_value = max(numbers)
max_index = numbers.index(max_value)
print('max =',max_value)
print(max_index)

max = 80
3

In [3]:
min_value = min(numbers)
min_index = numbers.index(min_value)
print('min =',min_value)
print(min_index)

min = 10
2

In [4]:
print('length =',len(numbers))
print('element =',numbers[len(numbers)-1])

length = 5
element = 10

In [5]:
names = ['steven', 'will', 'alicia']
print(names)

['steven', 'will', 'alicia']

In [6]:
print('--')
for name in names :
    print(name)

--
steven
will
alicia

In [7]:
print('--')
index = 2
while index < len(names):
    print(names[index])
    index +=1

--
alicia

In [8]:
num1 = list(range(0, 20, 5))
print(num1)

[0, 5, 10, 15]

In [9]:
num2 = num1 *3
print(num2)

[0, 5, 10, 15, 0, 5, 10, 15, 0, 5, 10, 15]

In [10]:
index = 0
while index < len(num1):
    num1[index] = num1[index]*3
    index += 1
print(num1)

[0, 15, 30, 45]

In [11]:
print(sum(num1))
print(sum(num1)/ len (num1))

90
22.5

In [12]:
numbers = list(range(0, 101, 10))
print(numbers)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [13]:
print(numbers[:5])
print(numbers[2:5])
print(numbers[7:])
print(numbers[-3:])

[0, 10, 20, 30, 40]
[20, 30, 40]
[70, 80, 90, 100]
[80, 90, 100]

In [14]:
cities = ['chicago', 'paris']
print(cities)

['chicago', 'paris']

In [15]:
city_index = cities.index('paris')
print(city_index)

1

In [16]:
cities.insert(1, 'new york')
print(cities)

['chicago', 'new york', 'paris']

In [17]:
cities.reverse()
print(cities)

['paris', 'new york', 'chicago']

In [18]:
cities.sort()
print(cities)

['chicago', 'new york', 'paris']

In [19]:
cities.remove('new york')
print(cities)

['chicago', 'paris']

In [22]:
# variables
total_sales = 0.0

#inutial lists
daily_sales = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
days_of_week = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

days_of_week

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [23]:
for i in range(7):
    daily_sales[i] = float(input('enter the sales for' + days_of_week[i] + ':'))

enter the sales forsunday:100
enter the sales formonday:200
enter the sales fortuesday:100
enter the sales forwednesday:300
enter the sales forthursday:400
enter the sales forfriday:500
enter the sales forsaturday:100

In [24]:
print('weekly sales')
print('---------')

weekly sales
---------

In [26]:
for index in range(7):
    print(days_of_week [ index], ':$', format(daily_sales[index], ',.2f'))

sunday :$ 100.00
monday :$ 200.00
tuesday :$ 100.00
wednesday :$ 300.00
thursday :$ 400.00
friday :$ 500.00
saturday :$ 100.00

In [31]:
for number in daily_sales:
    total_sales += number
    
highest = max(daily_sales)
max_index = daily_sales.index(highest)

lowest = min(daily_sales)
min_index = daily_sales.index(lowest)
avg_sales = sum(daily_sales)/len(daily_sales)

In [35]:
#display summary sales
print('\nweekly sales summary')
print('----------------------')
print('total sales : $', format(total_sales, ',.2f'))
print('average sales : $', format(avg_sales, ',.2f'))
print('the highest sale is in', days_of_week[max_index], ':$', format(highest, ',.2f'))
print('the lowest sale is in', days_of_week[min_index], ':$', format(lowest, ',.2f'))

weekly sales summary
----------------------
total sales : $ 11,900.00
average sales : $ 242.86
the highest sale is in friday :$ 500.00
the lowest sale is in sunday :$ 100.00